<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Connection data to text file db-->
  <appSettings>
    <!--How it will be behave when app will be started on other computer from diffrent catalog-->
    <add key="filePath" value ="C:\WORK SPACE C#\Projekty\ContestTracker Repo\ContestTracker\Data"/>
  </appSettings>
  <connectionStrings>
    <!--Connection data to database-->
    <!--<add name="Tournaments" connectionString="Server=.\DESKTOP-NM9F07K\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName="System."/>-->
    <add name="Tournaments" connectionString="Server=.\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>